@import url('https://fonts.googleapis.com/css?family=Montserrat');

.logowidth {
  width: 41.666667% !impotant;
}

body {
  height: 100%;
  width: 100%;
}

header {
  position: relative;
  width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

section {
  height: 100%;
  min-height: 675px;
}

section div {
  padding: 0;
}

a.page-scroll {
  position: relative;
  margin-left: -25px;
  max-width: 50px;
  font-size: 40px;
  text-align: center;
  color: #7bc49f;
  animation: scrollDown 1s infinite;
  -webkit-animation: scrollDown 1s infinite;
  /*Safari and Chrome*/
}

@keyframes scrollDown {
  from {
    bottom: 10px;
  }
  to {
    bottom: 0px;
  }
}

@-webkit-keyframes scrollDown {
  from {
    bottom: 10px;
  }
  to {
    bottom: 0px;
  }
}

#homeNews .row {
  margin: 0;
  padding: 30px;
  height: 100%;
  max-width: 100%;
}

#homeNews .news-column {
  height: 100%;
}

#homeNews .news-cell {
  height: 50%;
  max-height: 50%;
}

#homeNews .news-cell {
  background-color: #f7f7f7;
  border-left: 15px solid #FFF;
}

#homeNews .news-cell:first-child {
  border-bottom: 15px solid #FFF;
}

#homeNews .news-title {
  height: 100%;
  min-height: 664px;
  padding-top: 30px;
  padding-right: 46px;
  font-size: 60px;
  text-align: right;
  background-color: #95cdd7;
  color: #FFF;
  transition: font-size 1s;
  -moz-transition: font-size 1s;
  -webkit-transition: font-size 1s;
  -o-transition: font-size 1s;
}

.list-style-type {
  min-height: 294.31px;
}
.list-style-type h2, h3 {
  font-family: '微軟正黑體';
  text-align: center;
  color: #000000;
  text-shadow: 1px 1px lightgrey;
  font-weight: lighter;
}
.list-style-type h4 {
  margin: 30px 0 23px 0;
}
.list-style-type ol {
  padding: 0 20px;
}
.list-style-type li {
  position: relative;
  border-bottom: 1px solid #dfdfdf;
  list-style-type: none;
  text-align: center;
}

.list-style-type a {
  font-size: 16px;
  color: rgba(0, 0, 0, .5);
}
.list-style-type a:hover {
  color: #505050;
  text-decoration: none;
}

@media (max-width: 767px) {
  header {
    height: 100vh;
  }
  a.page-scroll {
    position: absolute;
    bottom: 10px;
    color: #FFF;
  }
}
@media (max-width: 991px) {
  section, #homeNews .row {
    height: auto;
    padding: 0;
    min-height: auto;
  }
  #homeNews .news-column {
    height: auto;
  }
  #homeNews .news-cell, #homeNews .news-cell:first-child {
    border: 0;
  }
  #homeNews .news-title {
    padding: 0;
    font-size: 50px;
    text-align: center;
    background-color: transparent;
    min-height: auto;
  }
  #homeNews .news-title-block{
    padding: 20px 0;
    background-color: transparent;
  }
}
